body{
background-color: #333333;
font-family: "Roboto",sans-serif;
}

header{
  text-align: center;
  color: white;
  margin-top: 10%;
}
.logo img{
  height: 100px;
  /* float: left; */
  margin-top: 20px;
  margin-left: 20px;
}
.right-corner a{
  margin: 5%;
  float: right;
}
