body{
background-color: #333333;
font-family: "Roboto",sans-serif;
}

header{
  text-align: center;
  color: white;
  margin-top: 10%;
}
.logo img{
  height: 100px;
  /* float: left; */
  margin-top: 20px;
  margin-left: 20px;
}
.right-corner a{
  margin: 5%;
  float: right;
}
header h2{
  color: rgb(245, 168, 16);
}
.mid{
  margin-top: 2%;
  color: white;
}
.left{
  margin-right: 2%;
}
.first{
  margin-top: 5%;
  color: white;
}
.but{
  margin-top: 2%;
}
.but button{
  background-color: rgb(245, 168, 16);
  color: white;
  border: none;

}

.but button:hover{
  background-color: rgb(244, 117, 13);
  transition: ease-in 1s;
  color: white;
  border: none;
}

.but input[type="submit"]{
  /* background-color: rgb(245, 168, 16); */
  color: Black;
  border: none;
}
.but input[type="submit"]:hover{
  background-color: rgb(245, 168, 16);
  transition: ease-in 1s;
  color: white;
  border: none;
}
