body{
background-color: #333333;
font-family: "Roboto",sans-serif;
}

header{
  text-align: center;
  color: white;
  margin-top: 10%;
}
.logo img{
  height: 100px;
  /* float: left; */
  margin-top: 20px;
  margin-left: 20px;
}
.right-corner a{
  margin: 5%;
  float: right;
}
header h2{
  color: rgb(245, 168, 16);
}
.mid{
  margin-top: 2%;
  color: white;
}
.left{
  margin-right: 2%;
  margin-left: 5%;
}
.first{
  margin-top: 5%;
  color: white;
  /* margin-left: -2%; */
}
.bio{
  margin-left: -11%;
  margin-right: 2.5%;
}
.bio h4{
color: rgb(55, 150, 240);
}
.posts{
color: rgb(55, 150, 240);
}
.but{
  margin-top: 2%;
}
.but button{
  background-color: rgb(245, 168, 16);
  color: white;
  border: none;

}

.but button:hover{
  background-color: rgb(244, 117, 13);
  transition: ease-in 1s;
  color: white;
  border: none;
}

.about input[type="button"]{
  background-color: rgb(55, 150, 240);
  color: white;
  border: none;
}
.about input[type="submit"]{
  background-color: rgb(245, 168, 16);
  transition: ease-in 1s;
  color: white;
  border: none;
}
.listed img{
width: 100px;
height: 100px;
}
.right{
  margin-left: 5%;
}
.one_row{
  /* background-color: white; */

}
.last{
  margin-top: 1%;
  margin-left: 3%;
}
.first_but{
  margin-bottom:3px;
}

.one_row{
  /* margin-top: 40%; */
 border: 2px solid gray;
 border-radius: 5px;
 margin-right: 10%;

}
.agocol{
  margin-top: 10px;
}
.topiccol{
  margin-top: 5px;
}
.topiccol h4{
  color:rgb(245, 168, 16);
}
