
body{
  background-color: #333333;
  font-family: 'Roboto',serif;
}
.hero h3{
  color: white;




}
header img{
width: 25%;
height: auto ;
margin: 40px;
}

.logo img{
  height: 100px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.details{
margin-top: 20px;
color: white;


}
.large p{
  text-align:  center;
  margin-top: 20px;
}
.smalll p{
  text-align: center;
  margin-top: 20px;

}
.smalll{
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.large{
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}
footer{
  margin-top: 100px;
background-color: #424242;
color: white;
}
.foot{
text-decoration: none;
list-style:none;

float: left;
}
.foot li a{
  color: white;
  text-decoration: none;

}
.foot li:hover{
  color: white;
  text-decoration: none;
}
.copyright{
padding-bottom: 20px;
}
.icons li{
  float: right;
  margin-left: 25px;
  font-size: 30px;
 color: white;
}
.full{
  padding-top: 50px;
}
@media only screen and (max-width:768px)  {
.icons li{
  float: none;
}

.foot li a{
  float: none;
  margin-left: 80px;
  text-align: center;
}
}
.upimage{
  margin-top: 20px;
  text-align: center;
}
.submiter{
  margin-top: 50px;

}
.wrong{
color: white;
margin-top: 5%;
}

.wrong p{
  margin-top: 2%;
font-size: 20px;
}
.btn-center{
  text-align: center;
}
