
body{
  background-color: #333333;
  font-family: 'Roboto',serif;
}
.hero h3{
  color: white;




}
.logo{
  margin-top: 2%;
}

.logo img{
  height: 70px;
  float: left;
  /* margin-top: 20px; */
  margin-left: 20px;
}
.details{
margin-top: 20px;
color: white;


}
.large p{
  text-align:  center;
  margin-top: 20px;
}
.smalll p{
  text-align: center;
  margin-top: 20px;

}
.smalll{
  border: 2px solid white;
  border-radius: 10px;
}
.large{
  border: 2px solid white;
  border-radius: 10px;

}
footer{
  margin-top: 100px;
background-color: #424242;
color: white;
}
.foot{
text-decoration: none;
list-style:none;

float: left;
}
.foot li a{
  color: white;
  text-decoration: none;

}
.foot li:hover{
  color: white;
  text-decoration: none;
}
.copyright{
padding-bottom: 20px;
}
.icons li{
  float: right;
  margin-left: 25px;
  font-size: 30px;
 color: white;
}
.full{
  padding-top: 40px;
}
@media only screen and (max-width:768px)  {
.icons li{
  float: none;
}

.foot li a{
  float: none;
  margin-left: 80px;
  text-align: center;
}
}
.upimage{
  margin-top: 20px;
  text-align: center;
}
.submiter{
  margin-top: 50px;

}
.info{
  width: 400px;
  border: 2px solid white;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 5px;
}
.home{
  float: right;
  margin-top: -100px;
}
.backpage{

}
@media only screen and (max-width: 320px) {
  .logo img {

    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 39px;
}
.backpage{
  margin: 13px 0px 12px 44px;
}
.info {

    width: 314px;

}
.foot{
  padding-left:25px;
  text-align: center;
}
.icons li{
   margin-left: 20px;
}
}@media (min-width: 321px) and (max-width: 768px) {
  .logo img {

    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}
.backpage{
  margin: 13px 0px 12px 87px;
}
.foot{
  padding-left: 65px;
  text-align: center;
}
.icons li{
   margin-left: 35px;
}
}
